.vscode/*
!.vscode/extensions.json
dist/
node_modules
npm-debug.log*
package-lock.json
yarn-error.log
lerna-debug.log
Dockerfile-dev
coverage/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/sdk/droppy.global.min.js
packages/sdk/droppy.global.min.js.map
packages/sdk/droppy.esm.min.js
packages/sdk/droppy.esm.min.js.map
